body {
    margin:0;
    height:100vh;
    background-color:aqua;
    align-items:center;
    justify-content: center;
}
p{
    width: 490px;
    background-color: #fff;
    padding: 25px;
    margin:40px;
    border:5px solid black;
    outline:8px dashed grey;
    outline-offset: 5px;
    color: brown;
    text-align:left ;
    text-align-last: center;
    direction:rtl ;
    unicode-bidi: bidi-override;
    span{
        vertical-align: text-bottom;
        text-decoration-line: overline underline;
        text-decoration-color: rgb(72, 57, 34);
        text-decoration-style: wavy;
        text-decoration-thickness: 5px;
        text-decoration:overline red wavy 5px;
    }
}