.navbar {
    background-color: blue;
}
body{
    background-color: green;
    opacity:0.9;
    background-image: url("../Images/pink\ pink\ Moacato.png");
    background-repeat:no-repeat;
    background-position: ;
}
